sudo: false

language: php


env:
  global:
    - DB=MYSQL COMPOSER_ROOT_VERSION="4.0.x-dev"

matrix:
  include:
    - php: 5.6
      env: DB=MYSQL PHPUNIT_TEST=1
    - php: 7.1
      env: DB=MYSQL PHPCS_TEST=1 PHPUNIT_TEST=1 PHPUNIT_COVERAGE_TEST=1

before_script:
  - phpenv rehash
  - phpenv config-rm xdebug.ini

  - cd ..;mv silverstripe-ideannotator ideannotator
  - cp ideannotator/phpunit.xml.dist .;cp ideannotator/composer.json .
  - composer install --prefer-dist
  - composer require --prefer-dist --no-update silverstripe/recipe-core:1.0.x-dev
  - composer require --prefer-dist --no-update squizlabs/php_codesniffer:*
  - composer update

script:
  - if [[ $PHPUNIT_TEST ]]; then vendor/bin/phpunit ideannotator/tests/; fi
  - if [[ $PHPUNIT_COVERAGE_TEST ]]; then phpdbg -qrr vendor/bin/phpunit --coverage-clover=coverage.xml; fi
  - if [[ $PHPCS_TEST ]]; then vendor/bin/phpcs --standard=vendor/silverstripe/framework/phpcs.xml.dist ideannotator/src/ ; fi

after_success:
  - if [[ $PHPUNIT_COVERAGE_TEST ]]; then bash <(curl -s https://codecov.io/bash) -f coverage.xml; fi

