<phpunit printerClass="ScriptFUSION\PHPUnitImmediateExceptionPrinter\ImmediateExceptionPrinter"
         bootstrap="vendor/silverstripe/cms/tests/bootstrap.php"
         colors="true">

    <testsuite name="Default">
        <directory>ideannotator/tests</directory>
    </testsuite>
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">ideannotator/src/</directory>
        </whitelist>
    </filter>
    <groups>
        <exclude>
            <group>sanitychecks</group>
        </exclude>
    </groups>
</phpunit>
