<phpunit bootstrap="framework/tests/bootstrap.php" colors="true">

    <testsuite name="Default">
        <directory>tests</directory>
    </testsuite>

    <listeners>
        <listener class="\SilverStripe\Dev\TestListener" file="framework/src/Dev/TestListener.php"/>
    </listeners>

    <groups>
        <exclude>
            <group>sanitychecks</group>
        </exclude>
    </groups>
</phpunit>
